/*! Elementos da Home */
#bodyhome{
    margin:0;
    font-family: Raleway;
    background-color: #d8a5a5;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb:hover {
    background: #c57a7a;
}
#cabecariohome{
    background-color: #d8a5a5;
    width: 100%;
    height: 200px;
    position: fixed;
    display: flex;
    border-color: black;
}
.elementosinicio{
    margin: auto;
    width: 33%;
    height: 200px;
    text-align: center;
}
.fotocabecariocachorro{
    width: 400px;
    height: 200px;
}
.elementosdomeio{
    font-size: 50px;
    font-family: Cinzel;
    width: 33%;
    height: 200px;
    text-align: center;
}
.elementosdomeiotexto{
    margin: auto;
    margin-top: 90px;
}
.elementosdofim{
    margin: auto;
    width: 33%;
    height: 120px;
    text-align: center;
}
.fimtextocabecariobotao{
    width: 60px;
    height: 40px;
    margin-top: 15px;
    text-align: center;
    border-radius: 20px;
    border-width: 0.5px;
}
.inputdepesquisaHome{
    width: 450px;
    height: 90px;
    border-width: 0.8px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.botaopesquisar{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-width: 0.5px;
    width: 70px;
    color:black;
    height: 92px; 
}
#idslide{
    width: 2085px;
    height: 1055px;
}
#quadradomeiohome{
    width: 100%;
    height: 1055px;
    background-color: blue;
    display: flex;
}
.quadradoesquerdo{
    width: 10%;
    height: 1055px;
    background-color: #a46f6f;
    text-align: center;
    font-size: 20px;
}
.quadradodireito{
    width: 90%;
    height: 1055px;
    background-color: #F8F8FF;
    display: flex;
    background-image: url(fotossite/fundolegalplaceholder.jpg);
}
.botaofiltrar{
    width: 100px;
    border-radius: 20px;
    border: 0.5px;
}
#rodape{
    text-align: center;
    margin: auto;
    width: 100%;
    height: 100px;
    background-color: #4f3939;
}
a{
    text-decoration: none;
}

.imagemdentro1{
    border-radius: 20px;
    width: 250px;
    height: 250px;
    margin: auto;
    background-color: #4f3939;
}
.imagemdentro2{
    border-radius: 20px;
    width: 250px;
    height: 250px;
    margin: auto;
    background-color: #4f3939;
}
.imagemdentro3{
    border-radius: 20px;
    width: 250px;
    height: 250px;
    margin: auto;
    background-color: #4f3939;
}
.imagemdentro4{
    border-radius: 20px;
    width: 250px;
    height: 250px;
    margin: auto;
    background-color: #4f3939;
}
.quadrado1{
    text-align: center;
    font-size: 20px;
    border-radius: 20px;
    margin: auto;
    width: 300px;
    height: 500px;
    background-color: #d8a5a5;
}
.quadrado2{
    text-align: center;
    font-size: 20px;
    border-radius: 20px;
    margin: auto;
    width: 300px;
    height: 500px;
    background-color: #d8a5a5;
}
.quadrado3{
    text-align: center;
    font-size: 20px;
    border-radius: 20px;
    margin: auto;
    width: 300px;
    height: 500px;
    background-color: #d8a5a5;
}
.quadrado4{
    text-align: center;
    font-size: 20px;
    border-radius: 20px;
    margin: auto;
    width: 300px;
    height: 500px;
    background-color: #d8a5a5;
}
.quadrado1:hover{
    transform: scale(1.2);
    transition-duration: 500ms;
}
.quadrado2:hover{
    transform: scale(1.2);
    transition-duration: 500ms;
}
.quadrado3:hover{
    transform: scale(1.2);
    transition-duration: 500ms;
}
.quadrado4:hover{
    transform: scale(1.2);
    transition-duration: 500ms;
}
.fotodahome{
    border-radius: 20px;
}
.quadradoresultados1{
    background-color: #a46f6f;
    width: 100%;
    height:25%;
    font-size: 10px;
    border-radius: 20px;
    border-width: 0.8px;
    border: 1px solid;
}
.quadradoresultados2{
    font-size: 10px;
    background-color: #a46f6f;
    width: 100%;
    height:25%;
    border-radius: 20px;
    border-width: 0.8px;
    border: 1px solid;
}
.quadradoresultados3{
    font-size: 10px;
    background-color: #a46f6f;
    width: 100%;
    height:25%;
    border-radius: 20px;
    border-width: 0.8px;
    border: 1px solid;
}
.quadradoresultados4{
    font-size: 10px;
    background-color: #a46f6f;
    width: 100%;
    height:25%;
    border-radius: 20px;
    border-width: 0.8px;
    border: 1px solid;
}

.modelos{
    border-radius: 20px;
    width: 2000px;
    height: 1000px;
    margin: auto;
    background-color: #4f3939;
}
/*! Parte do Login */
#bodydologin{    
    background: url("fotossite/fundolegalplaceholder.jpg");
    font-family: Raleway;
    margin: 0;
    padding: 0;
}
#quadradodologin{
    font-size: 20px;
    border: 5px solid black;
    border-radius: 20px;
    width: 500px;
    margin: auto;
    background-color: #d8a5a5;
    height: 500px;
    text-align: center;
    border-width: 1px;
}
#extras{
    width: 100%;
    height: 1200px;
    margin: auto;
    text-align: center;
    font-size: 50px;
}

/*!  PARTES DOS TIPOS,MARCAS E CATEGORIAS */
#geral{
    background: url("fotossite/fundolegalplaceholder.jpg");
    font-family: Raleway;
}
#quadradogeral{
    width: 1500px;
    height: 700px;
    margin: auto;
    display: flex;
    gap: 10px;
}
.parteesquerda{
    font-size: 20px;
    text-align: center;
    width: 30%;
    border-radius: 20px;
    height: 700px;
    background-color: #d8a5a5;
}
.partedireita{
    width: 70%;
    border-radius: 20px;
    height: 700px;
    background-color: #d8a5a5;
    text-align: center;
    font-size: 30px;
}
.mandargeral{
    width: 80px;
    height: 30px;
    font-family: Raleway;
    border-radius: 20px;
    border-width: 0.5px;
}
#codtipo{
    text-align: center;
    height: 20px;
    width: 100px;
    border-radius: 10px;
    border-width: 0.8px;
}
#nometipo{
    text-align: center;
    height: 20px;
    width: 100px;
    border-radius: 10px;
    border-width: 0.8px;
}
#codmarca{
    text-align: center;
    height: 20px;
    width: 100px;
    border-radius: 10px;
    border-width: 0.8px;
}
#nomemarca{
    text-align: center;
    height: 20px;
    width: 100px;
    border-radius: 10px;
    border-width: 0.8px;
}
#codcategoria{
    text-align: center;
    height: 20px;
    width: 100px;
    border-radius: 10px;
    border-width: 0.8px;
}
#nomecategoria{
    text-align: center;
    height: 20px;
    width: 100px;
    border-radius: 10px;
    border-width: 0.8px;
}
/*! PARTES DOS PRODUTOS */
.partedireitaP{
    font-size: 30px;
    text-align: center;
    border-radius: 20px;
    height: 900px;
    background-color: #d8a5a5;
    margin-top:50px;
}
#quadradoprodutos{
    width: 1000px;
    height: 900px;
    margin: auto;
}
.parteesquerdaP{
    margin: auto;
    font-size: 20px;
    text-align: center;
    border-radius: 20px;
    height: 900px;
    background-color: #d8a5a5;
}
#codprodutos{
    text-align: center;
    height: 20px;
    width: 100px;
    border-radius: 10px;
    border-width: 0.8px;
}
#descricaoprodutos{
    text-align: center;
    height: 20px;
    width: 100px;
    border-radius: 10px;
    border-width: 0.8px;
}
#corprodutos{
    text-align: center;
    height: 20px;
    width: 100px;
    border-radius: 10px;
    border-width: 0.8px;
}
#tamanhoprodutos{
    text-align: center;
    height: 20px;
    width: 100px;
    border-radius: 10px;
    border-width: 0.8px;
}
#precoprodutos{
    text-align: center;
    height: 20px;
    width: 100px;
    border-radius: 10px;
    border-width: 0.8px;
}
#codmarcaprodutos{
    text-align: center;
    height: 20px;
    width: 100px;
    border-radius: 10px;
    border-width: 0.8px;
}
#codcategoriaprodutos{
    text-align: center;
    height: 20px;
    width: 100px;
    border-radius: 10px;
    border-width: 0.8px;
}
#codtipoprodutos{
    text-align: center;
    height: 20px;
    width: 100px;
    border-radius: 10px;
    border-width: 0.8px;
}
#foto1produtos{
    text-align: center;
    height: 20px;
    width: 100px;
    border-radius: 10px;
    border-width: 0.8px;
}
#foto2produtos{
    text-align: center;
    height: 20px;
    width: 100px;
    border-radius: 10px;
    border-width: 0.8px;
}